<header class="bg-[#e11d48] text-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-4 py-3 flex items-center justify-between">
    
    <div class="flex items-center space-x-2 p-1 rounded-lg">
      <img src="logo.png" alt="EducationPriorité" class="h-16 w-auto object-contain" />
      <span class=" font-bold text-xl hidden lg:block">EducationPriorité</span>
    </div>

    <nav class="hidden xl:flex items-center space-x-6 text-sm font-bold uppercase tracking-wider">
      @for (item of items; track $index) {
        <a [routerLink]="item.routerLink" 
           routerLinkActive="border-b-2 border-white"
           class="hover:text-gray-200 transition-colors py-1">
          {{item.label}}
        </a>
      }
    </nav>

    <div class="hidden xl:flex items-center space-x-3">
      @if (!isAuthenticated) {
        <a routerLink="/login" 
         class="px-5 py-2 rounded-full border border-white hover:bg-white hover:text-[#e11d48] transition font-bold text-sm">
        Connexion
      </a>
      <a routerLink="/register" 
         class="px-5 py-2 rounded-full bg-white text-[#e11d48] hover:bg-gray-100 transition font-bold text-sm">
        Inscription
      </a>
      } @else {
        <a routerLink="/login" (click)="onLogout()" 
          class="px-5 py-2 rounded-full border border-white hover:bg-white hover:text-[#e11d48] transition font-bold text-sm">
            Déconnexion
        </a>
        <div (click)="displayModal = true" [style.background]="getAvatarColor()" class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 shadow-sm border border-white/20 overflow-hidden ml-auto cursor-pointer">
          <span class="text-[0.78rem] font-black text-white uppercase tracking-tighter">{{ getInitials() }}</span>
        </div>
      }
    </div>

    <button class="xl:hidden text-white text-2xl" (click)="toggleMobileMenu()">
      <i [class]="mobileMenuOpen ? 'pi pi-times' : 'pi pi-bars'"></i>
    </button>
  </div>

  <div *ngIf="mobileMenuOpen" class="lg:hidden bg-red-700 border-t border-red-500 animate-fadein">
    <div class="flex flex-col p-4 space-y-4 font-bold uppercase text-sm">
      @for (item of items; track $index) {
        <a [routerLink]="item.routerLink" (click)="mobileMenuOpen = false">{{item.label}}</a>
      }
      <hr class="border-red-500">
      @if (!isAuthenticated) {
        <a routerLink="/login" class="...">Connexion</a>
        <a routerLink="/register" class="...">Inscription</a>
      } @else {
        <a routerLink="/login" (click)="onLogout()" class="...">Déconnexion</a>
        <div (click)="displayModal = true" [style.background]="getAvatarColor()" class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 shadow-sm border border-white/20 overflow-hidden cursor-pointer">
          <span class="text-[0.78rem] font-black text-white uppercase tracking-tighter">{{ getInitials() }}</span>
        </div>
      }
    </div>
  </div>
</header>

<p-dialog 
    [(visible)]="displayModal" 
    [modal]="true" 
    [draggable]="false" 
    [resizable]="false"
    maskStyleClass="backdrop-blur-sm"
    header="Mon Profil"
    [style]="{width: '98vw', maxWidth: '1100px'}">
    
    <app-user-profile 
    *ngIf="displayModal">
    ></app-user-profile>
</p-dialog>